* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  background-color: white;
  border: 50px;
  border-radius: 20px;
  padding: 20px;
}

img {
  border-radius: 20px;
  width: 150px;
  height: auto;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
}

.account {
  color: gray;
  margin: 10px 0;
}

button {
  border: 0;
  border-radius: 50%;
  color: lightskyblue;
}
